body {
  background-color: #A3F3F5;
}

a.button {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.centered {
  text-align: center;
}

.clanguages
{
  color: red;
}
#orange
{
  color: #F77800;
}
.bigger
{
  font-size: larger;
}

