{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changepass" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="oldpass" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpass" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
{% endblock %}

