{% extends "layout.html" %}

{% block title %}
    Transactions History
{% endblock %}

{% block main %}

    <table>
        <tr>
            <th>| - Symbol - |</th>
            <th>| Shares |</th>
            <th>| --- Price --- |</th>
            <th>| Type |</th>
            <th>| ----- Timestamp ----- |</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.symbol }}</td>
            <td>{{ transaction.shares }}</td>
            <td>{{ transaction.price | usd }}</td>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
