{% extends "layout.html" %}

{% block title %}
    Sell stocks
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <select name="symbol">
            <option value="" disabled selected>Select a Stock Symbol</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </select>
        <input type="number" name="shares" min="1" step="1" placeholder="Number of Shares">
        <button type="submit">Sell</button>
    </form>

{% endblock %}
